%h1 Edit Category
= form_for @product, url: product_path, method: :put, html: { class: "sell-form"} do |f|
  %label
    商品名
    = f.text_field :name
  .sell-form-box
    .form-group.sell
      %label
        カテゴリー
        %span.form-require 必須
      %div.select
        .select-wrap
          %i.icon-arrow-bottom
          = f.collection_select :category_id, @category, :id, :name, { prompt: "---" }, { class: "select-default", id: "category_select" }
      .select-children
        .product-select-wrapper#children_wrapper2
          .product_category-sele
            = f.collection_select :category_id, @category_children, :id, :name, { prompt: "---" }, { class: "category_select-box", id: "child_category" }
          .select-grandchildren
            .product-select-wrapper#grandchildren_wrapper2
              .product_category-select
                = f.collection_select :category_id, @categroy_grand, :id, :name, { prompt: "---" }, { class: "category_select-box", id: "grandchild_category"}
            .product_select-grandchildren

    %label
      送信
      =f.submit